@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border-width: thick;
}

.my-container {color: black;
    border: 1px solid blue;
    text-align: center;
    background-color: lightgreen;
}
.my-class {color: red;
    border: 1px solid blue;
    text-align: center;
    background-color: lightblue;
}
.my-image {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
#my-id {
	color: red;
}
.id {
}
.body {
    font-family: 'Stick', sans-serif;
    background-image: url(../images/background.jpg);	
	
}
.bodyh1 {
    color: #FFFFFF;
    text-align: center;
}
